/* CSS base servizio */

h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 18px;
    color: inherit;
    text-rendering: optimizelegibility; }
h1 {
    font-size: 26px;
    line-height: 28px; }
h2 {
    font-size: 22px;
    line-height: 24px; }
h3 {
    font-size: 18px;
    line-height: 20px; }
h4 {
    font-size: 14px;
    line-height: 16px; }
h5 {
    font-size: 13px;
    line-height: 15px; }
h6 {
    font-size: 12px;
    line-height: 14px; }

.container-fluid {padding-right:0px;padding-left:0px;}

/* header portale */
div.header {
    background:#d3d3d3;
    color:#fff;
    padding:30px 20px;
    overflow:hidden;
    padding:0 40px 0 80px;
    position:relative; }
div.header h1 {
    font-size:28px;
    line-height: 28px;
    margin: 5px 0;
    color: #0153A9;
    position: relative;
    top: 0;
    left: 0; }
div.header h1 a{
    color: #0153A9;}
.menupaprivati,
.menupaprivati ul.pull-right{ padding:0; margin:0;}
.menupaprivati ul.pull-right{ margin-right:10px;}
.menupaprivati ul.pull-right li{ display:inline; margin-right:3px;}
.menupaprivati ul.pull-right li a{ color:#ffffff; font-weight:bold; font-size:14px;
    text-transform:uppercase; display:inline-block; height:20px; background:#bf5229; padding: 10px 10px 10px 8px; margin-top:12px;}
.pull-left { position: absolute; }
.menupaprivati ul.pull-right li.active a{ background:#d3d3d3; color: #0153A9; }
.menuTopSx{ margin-bottom:0; padding-left:80px;}
.menuTopSx li{ display:inline;}
.menuTopSx li a{ display:inline-block; margin-top:30px; padding:0px; color:#000;padding-left:6px;}
.menuTopSx li a.pipe_dx{ border-right:1px solid #000; padding-right:6px;}

ul.pull-right { clear: none;}
.nav>li>a:hover, .nav>li>a { font-weight: normal;}
.nav>li>a:hover, .nav>li>a:focus { background:none; text-decoration: underline;}
/* /header portale */


